<h1 class='p-5'>New Cocktail</h1>
<div class='p-5'>
<%= simple_form_for @cocktail  do |f| %>
  <%= f.error_notification %>
    <%= f.input :name, label: "Name"%>

  <%= f.button :submit, class: "btn-primary" %>
  <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary " %>
  <%= link_to "Back", cocktails_path, class: 'btn btn-secondary' %>
 </div>
<% end %>